name: Buat APK AdiXtream (RELEASE)

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  build:
    name: Build Signed APK
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Siapkan Java (JDK 17)
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Izinkan Gradle untuk dijalankan
        run: chmod +x gradlew

      - name: Mulai Proses Build (Release Mode)
        # Bagian ini penting! Kita memberikan akses kunci rahasia ke Gradle
        env:
          SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
          ALIAS: ${{ secrets.ALIAS }}
          KEY_STORE_PASSWORD: ${{ secrets.KEY_STORE_PASSWORD }}
          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
        # Perintah diubah dari assembleDebug menjadi assembleRelease
        run: ./gradlew assembleRelease --stacktrace

      - name: Upload APK ke GitHub
        uses: actions/upload-artifact@v4
        with:
          name: AdiXtream-Signed-APK
          # Mengambil hasil build release
          path: app/build/outputs/apk/release/*.apk
