name: Buat APK AdiXtream (FIX)

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  build:
    name: Build APK
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Siapkan Java (JDK 17)
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Izinkan Gradle untuk dijalankan
        run: chmod +x gradlew

      - name: Mulai Proses Build (Debug Mode)
        # Menggunakan assembleDebug agar tidak perlu kunci rahasia
        run: ./gradlew assembleDebug --stacktrace

      - name: Upload APK ke GitHub
        uses: actions/upload-artifact@v4
        with:
          name: AdiXtream-APK
          # Tanda bintang ganda (**) artinya cari di folder manapun sampai ketemu
          path: app/build/outputs/apk/**/*.apk
